.spinner-container-sidebar-layout,
.spinner-container-main-layout {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

@media (min-width: 768px) {
    .spinner-container-sidebar-layout {
        transform: translateX(calc(-50% + 8rem));
    }
}
