@inject NavigationManager NavMan
@implements IDisposable

<div class="@Class">
    <nav class="d-flex flex-column px-2 py-2">
        <a class="navbar-brand" href="#">
            <img src="img/Blazor.png" width="30" height="30" class="mx-2" />
            Blazor App
        </a>

        <NavLink class="nav-link" Match="NavLinkMatch.All" href="">
            <i class="bi bi-house-door h5 pe-2"></i>
            Home
        </NavLink>
        <NavLink class="nav-link" Match="NavLinkMatch.All" href="Counter">
            <i class="bi bi-plus-circle h5 pe-2"></i>
            Counter
        </NavLink>
        <NavLink class="nav-link" Match="NavLinkMatch.All" href="CounterTwo">
            <i class="bi bi-plus-circle h5 pe-2"></i>
            Counter Two
        </NavLink>
        <NavLink class="nav-link" Match="NavLinkMatch.All" href="CounterThree">
            <i class="bi bi-plus-circle h5 pe-2"></i>
            Counter Three
        </NavLink>
        <NavLink class="nav-link" Match="NavLinkMatch.All" href="SpinDemo">
            <i class="bi bi-arrow-repeat h5 pe-2"></i>
            Spinner Demo
        </NavLink>
        <NavLink class="nav-link" Match="NavLinkMatch.All" href="Weather">
            <i class="bi bi-cloud-lightning-rain-fill h5 pe-2"></i>
            Weather
        </NavLink>
        <div class="mt-auto">
            <div class="d-flex align-items-center justify-content-center">
                <AuthorizeView>
                    <Authorized>
                        <form class="w-100" action="authentication/logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="returnUrl" value="@_currentUrl" />
                            <button type="submit" class="nav-link d-flex justify-start align-items-center w-100">
                                <i class="bi bi-box-arrow-in-left text-light h5 my-0 pe-2"></i>
                                Logout
                            </button>
                        </form>
                    </Authorized>
                    <NotAuthorized>
                        <div class="w-100">
                            <NavLink class="nav-link d-flex align-items-center" Match="NavLinkMatch.All" href="@($"authentication/login?returnUrl={_currentUrl}")">
                                <i class="bi bi-box-arrow-in-right text-light h5 my-0 pe-2"></i>
                                Login
                            </NavLink>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
                <i class="theme-switch mx-2 text-light fs-4 bi bi-sun-fill"></i>
            </div>
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public string Class { get; set; } = "";

    private string? _currentUrl;

    protected override void OnInitialized()
    {
        _currentUrl = NavMan.ToBaseRelativePath(NavMan.Uri);
        NavMan.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavMan.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavMan.LocationChanged -= OnLocationChanged;
    }
}