@inject IAuthenticationService AuthService
@inject NavigationManager NavMan

<div class="@Class">
    <nav class="d-flex flex-column px-2 py-2">
        <a class="navbar-brand" href="#">
            <img src="img/Blazor.png" width="30" height="30" class="mx-2" />
            Blazor App
        </a>

        <NavLink class="nav-link" Match="NavLinkMatch.All" href="">
            <i class="bi bi-house-door h5 pe-2"></i>
            Home
        </NavLink>
        <NavLink class="nav-link" Match="NavLinkMatch.All" href="counter">
            <i class="bi bi-plus-circle h5 pe-2"></i>
            Counter
        </NavLink>
        <NavLink class="nav-link" Match="NavLinkMatch.All" href="countertwo">
            <i class="bi bi-plus-circle h5 pe-2"></i>
            Counter Two
        </NavLink>
        <NavLink class="nav-link" Match="NavLinkMatch.All" href="counterthree">
            <i class="bi bi-plus-circle h5 pe-2"></i>
            Counter Three
        </NavLink>
        <NavLink class="nav-link" Match="NavLinkMatch.All" href="spindemo">
            <i class="bi bi-arrow-repeat h5 pe-2"></i>
            Spinner Demo
        </NavLink>
        <NavLink class="nav-link" Match="NavLinkMatch.All" href="weather">
            <i class="bi bi-cloud-lightning-rain-fill h5 pe-2"></i>
            Weather
        </NavLink>
        <div class="mt-auto">
            <div class="d-flex align-items-center justify-content-center">
                <AuthorizeView>
                    <Authorized>
                        <form class="w-100 text-light" method="post" @formname="@($"Sidebar_Logout_{@FormSuffix}")" @onsubmit="() => HandleLogoutAsync()">
                            <AntiforgeryToken />
                            <button type="submit" class="nav-link d-flex justify-start align-items-center w-100">
                                <i class="bi bi-box-arrow-in-left text-light h5 my-0 pe-2"></i>
                                Logout
                            </button>
                        </form>
                    </Authorized>
                    <NotAuthorized>
                        <form class="w-100 text-light" method="post" @formname="@($"Sidebar_Login_{@FormSuffix}")" @onsubmit="HandleLogin">
                            <AntiforgeryToken />
                            <button class="nav-link d-flex justify-start align-items-center w-100" type="submit">
                                <i class="bi bi-box-arrow-in-right h5 my-0 pe-2"></i>
                                Login
                            </button>
                        </form>
                    </NotAuthorized>
                </AuthorizeView>
                <i class="theme-switch mx-2 text-light fs-4 bi bi-sun-fill"></i>
            </div>
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter, EditorRequired]
    public string FormSuffix { get; set; }

    private void HandleLogin()
    {
        AuthService.Login();
    }

    private async Task HandleLogoutAsync()
    {
        await AuthService.LogoutAsync();
    }
}