@inject IAuthenticationService AuthService
@inject NavigationManager NavMan

<div class="mx-2">
    <AuthorizeView>
        <Authorized>
            <form method="post" @formname="Navbar_Logout" @onsubmit="() => HandleLogoutAsync()">
                <AntiforgeryToken />
                <button class="nav-link d-flex align-items-center flex-fill" type="submit">
                    <i class="bi bi-box-arrow-in-left fs-6 me-2 my-0"></i>
                    Logout
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <form class="d-flex flex-fill text-light" method="post" @formname="Navbar_Login" @onsubmit="HandleLogin">
                <AntiforgeryToken />
                <button class="nav-link d-flex align-items-center flex-fill" type="submit">
                    <i class="bi bi-box-arrow-in-right fs-6 me-2 my-0"></i>
                    Login
                </button>
            </form>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private void HandleLogin()
    {
        AuthService.Login();
    }

    private async Task HandleLogoutAsync()
    {
        await AuthService.LogoutAsync();
    }
}